@using ERPSoft.DATA.Models;
@model ERPSoft.DATA.Models.PedidoServico

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Pedido de Serviço</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Cod" name="Cod" value="@Model.Cod" hidden class="form-control" />
            <div class="form-group">
                <label asp-for="IdPedidoSservico" class="control-label"></label>
                <select asp-for="IdPedidoSservico" class="form-control">
                    <option value="">Selecione o Produto</option>
                    @if (ViewBag.Servicos != null)
                    {
                        @foreach (var produto in (ViewBag.Servicos as List<Servicos>))
                        {
                            <option value="@produto.Id">@produto.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdPedidoSfornecedor" class="control-label"></label>
                <select asp-for="IdPedidoSfornecedor" class="form-control">
                    <option value="">Selecione o Fornecedor</option>
                    @if (ViewBag.Fornecedores != null)
                    {
                        @foreach (var produto in (ViewBag.Fornecedores as List<Fornecedor>))
                        {
                            <option value="@produto.Id">@produto.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusServico" class="control-label"></label>
                <select asp-for="StatusServico" class="form-select" aria-label="Default select example">
                    <option value="Aguardando">Aguardando</option>
                    <option value="Conferencia">Conferência</option>
                    <option value="Concluida">Concluida</option>
                </select>
            </div>
            <br></br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline-warning" /> | <a asp-action="Index" class="bi bi-skip-backward-fill btn btn-outline-primary"> Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
