@model IEnumerable<ERPSoft.DATA.Models.OrdemServico>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <h3>Pedidos Internos</h3>
    <a asp-action="Create" class="bi bi-plus-circle btn btn-outline-primary">Adicionar</a>
</div>
<br></br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFormatada)
            </th>
            <th>
                Email do Fornecedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ordem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFornecedor)
            </td>
            <td>
                @string.Format("{0:C}", item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFormatada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdemFornecedorNavigation.Email)
            </td>
                <td style="vertical-align: middle;">
                    <a asp-action="Delete" class="bi bi-trash btn btn-outline-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
        </tr>
}
    </tbody>
</table>
